body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2; }

.navbar {
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.8); }
  .navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus, .navbar .navbar-brand:active, .navbar .navbar-brand:hover:active, .navbar .navbar-brand:hover:focus, .navbar .navbar-brand:focus:active, .navbar .navbar-brand:hover:focus:active {
    color: white;
    font-weight: 400; }
  .navbar .navbar-nav {
    margin-left: 0;
    margin-right: 0; }
    .navbar .navbar-nav li > a {
      color: white;
      font-weight: 400;
      box-shadow: none; }
    .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:focus, .navbar .navbar-nav li > a:active, .navbar .navbar-nav li > a:hover:active, .navbar .navbar-nav li > a:hover:focus, .navbar .navbar-nav li > a:focus:active, .navbar .navbar-nav li > a:hover:focus:active {
      color: #cccccc;
      font-weight: 400;
      transition: 0.2s;
      box-shadow: none; }
    .navbar .navbar-nav li.active > a, .navbar .navbar-nav li.active > a:hover, .navbar .navbar-nav li.active > a:focus, .navbar .navbar-nav li.active > a:active, .navbar .navbar-nav li.active > a:hover:active, .navbar .navbar-nav li.active > a:hover:focus, .navbar .navbar-nav li.active > a:focus:active, .navbar .navbar-nav li.active > a:hover:focus:active {
      background-color: #f2f2f2;
      color: #333333;
      font-weight: 400;
      cursor: text;
      box-shadow: none; }
  .navbar button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-color: white;
    box-shadow: none; }
  .navbar button:hover, .navbar button:focus, .navbar button:active, .navbar button:hover:active, .navbar button:hover:focus, .navbar button:focus:active, .navbar button:hover:focus:active {
    background-color: rgba(0, 0, 0, 0.8);
    color: #cccccc;
    border-color: #cccccc;
    transition: 0.2s;
    box-shadow: none;
    outline: 0; }
  .navbar button.active, .navbar button.active:hover, .navbar button.active:focus, .navbar button.active:active, .navbar button.active:hover:active, .navbar button.active:hover:focus, .navbar button.active:focus:active, .navbar button.active:hover:focus:active {
    background-color: #f2f2f2;
    color: #333333;
    border-color: white;
    cursor: text;
    box-shadow: none;
    outline: 0; }

.jumbotron {
  min-height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .jumbotron h1 {
    margin-top: 0;
    font-size: 4em; }
  .jumbotron p {
    margin-bottom: 0;
    font-size: 2em; }
  .jumbotron hr {
    width: 90%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 15px; }
  .jumbotron a.btn, .jumbotron a.btn.active {
    margin-left: 5px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: none; }
  .jumbotron a.btn:hover, .jumbotron a.btn:focus, .jumbotron a.btn:hover:focus, .jumbotron a.btn.active:hover, .jumbotron a.btn.active:focus, .jumbotron a.btn.active:hover:focus {
    transform: scale(1.1);
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: none; }
  .jumbotron a.btn:active, .jumbotron a.btn:hover:active, .jumbotron a.btn:focus:active, .jumbotron a.btn:hover:focus:active, .jumbotron a.btn.active:active, .jumbotron a.btn.active:hover:active, .jumbotron a.btn.active:focus:active, .jumbotron a.btn.active:hover:focus:active {
    transform: scale(1.1);
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.8);
    color: #cccccc;
    box-shadow: none; }
  .jumbotron h2 {
    font-size: 2.5em;
    margin-top: 0; }
  .jumbotron .resume {
    padding-left: 5%;
    text-align: left;
    font-size: 1.25em; }
  .jumbotron .pic {
    margin-right: 0;
    margin-left: auto;
    padding-right: 5%; }
    .jumbotron .pic .image {
      max-height: 50%;
      max-height: 50vh; }
  .jumbotron .portfolio {
    padding: 0;
    box-shadow: none; }
    .jumbotron .portfolio .portfolio-img {
      width: 100%;
      box-shadow: none; }
    .jumbotron .portfolio .portfolio-desc {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 200%;
      font-weight: bold;
      box-shadow: none; }
    .jumbotron .portfolio .portfolio-link:hover .portfolio-desc, .jumbotron .portfolio .portfolio-link:focus .portfolio-desc, .jumbotron .portfolio .portfolio-link:hover:focus .portfolio-desc {
      opacity: 1;
      transition: all ease 0.2s;
      color: white;
      box-shadow: none; }
    .jumbotron .portfolio .portfolio-link:active .portfolio-desc, .jumbotron .portfolio .portfolio-link:hover:active .portfolio-desc, .jumbotron .portfolio .portfolio-link:focus:active .portfolio-desc, .jumbotron .portfolio .portfolio-link:hover:focus:active .portfolio-desc {
      opacity: 1;
      transition: all ease 0.2s;
      color: #cccccc;
      box-shadow: none; }
  .jumbotron .email, .jumbotron .mit {
    color: #666666;
    cursor: pointer; }
  .jumbotron .email:hover, .jumbotron .email:focus, .jumbotron .email:active, .jumbotron .email:visited, .jumbotron .email:hover:focus, .jumbotron .email:hover:active, .jumbotron .email:hover:visited, .jumbotron .email:focus:active, .jumbotron .email:focus:visited, .jumbotron .email:active:visited, .jumbotron .email:hover:focus:active, .jumbotron .email:focus:active:visited, .jumbotron .mit:hover, .jumbotron .mit:focus, .jumbotron .mit:active, .jumbotron .mit:visited, .jumbotron .mit:hover:focus, .jumbotron .mit:hover:active, .jumbotron .mit:hover:visited, .jumbotron .mit:focus:active, .jumbotron .mit:focus:visited, .jumbotron .mit:active:visited, .jumbotron .mit:hover:focus:active, .jumbotron .mit:focus:active:visited {
    color: #333333;
    cursor: pointer; }
