<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta name="msvalidate.01" content="9982E57C371501C8F80D37994DDABE5F" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="./">
  <title>shian48263</title>
  <meta name="description" content="Personal portfolio／résumé of Chuah Chee Shian (shian48263), full stack web dev/engineer & data scientist, 全端網頁開發者/工程師 & 數據科學家 (蔡奇賢) 的個人專頁/履歷" />
  <meta name="keywords" content="python, mean, node, mongo, html, css, scss, git, express, angular, personal, resume, résumé, portfolio, Chuah Chee Shian, shian48263, fullstack, frontend, backend, javascript, web, dev, developer, engineer, data, science, scientist, big data, 全端, 全棧, 前端, 後端, 網頁, 工程師, 開發, 開發者, 蔡奇賢, 個人, 專頁, 履歷, 數據, 科學, 科學家, 大數據" />
  <meta name="copyright" content="MIT">
  <meta name="author" content="shian48263 (Chuah Chee Shian / 蔡奇賢) @ shian48263@gmail.com / shian48263@icloud.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/fullpage.js/jquery.fullPage.css" />
  <link rel="stylesheet" href="bower_components/WebFont-OpenSans/css/stylesheet.css" />
  <!-- endbower -->
  <link href="css/main.css" rel="stylesheet" type="text/css" />
  <script>
  'use strict';
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-74312477-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
  </script>
</head>

<body ng-app="app" ng-controller="MainController">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">{{brand}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="myMenu">
          <li data-menuanchor="Home"><a href="#Home">{{home}}</a></li>
          <li data-menuanchor="About"><a href="#About">{{about}}</a></li>
          <li data-menuanchor="Portfolio"><a href="#Portfolio">{{portfolio}}</a></li>
          <li data-menuanchor="Contact"><a href="#Contact">{{contact}}</a></li>
        </ul>
        <ul class="nav navbar-form navbar-right">
          <li class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="lang('en')" ng-class="{active: isEn}">En</button>
            <button type="button" class="btn btn-default" ng-click="lang('zh')" ng-class="{active: isZh}">中</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="fullpage">
    <div class="jumbotron section" data-anchor="Home">
      <div class="container-fluid">
        <h1>{{title1}}</h1>
        <h1>{{title2}}</h1>
        <p>{{desc}}</p>
        <hr />
        <a class="btn btn-default btn-lg" ng-click="href('github')" role="button"><i class="fa fa-github"></i>&nbsp;&nbsp;GitHub</a>
        <a class="btn btn-default btn-lg" ng-click="href('linkedin')" role="button"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
        <a class="btn btn-default btn-lg" ng-click="href('facebook')" role="button"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
        <a class="btn btn-default btn-lg" ng-click="href('google+')" role="button"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Google+</a>
        <a class="btn btn-default btn-lg" ng-click="href('twitter')" role="button"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="About">
      <div class="container-fluid">
        <h2>{{aboutMe}}</h2>
        <hr />
        <p class="resume col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind-html="resume | toHtml"></p>
        <div class="pic col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="image" src="assets/img/AQkRvCa.jpg" />
          <img class="image" src="assets/img//9PrqrS9.jpg" />
        </div>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="Portfolio">
      <div class="container-fluid">
        <h2 id="works">{{works}}</h2>
        <hr id="works-hr" />
        <div class="portfolio col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-repeat="portfolio in portfolios">
          <a class="portfolio-link" ng-href="{{portfolio.href}}" new-tab>
            <img class="portfolio-img" ng-src="{{portfolio.src}}" />
            <div class="portfolio-desc">{{portfolio.desc}}</div>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="Contact">
      <div class="container-fluid">
        <h1>{{contactMe}}</h1>
        <hr />
        <h2>{{name}}</h2>
        <h2><a class="email" href="mailto:shian48263@gmail.com">shian48263@gmail.com</a></h2>
        <h2><a class="email" href="mailto:shian48263@icloud.com">shian48263@icloud.com</a></h2>
        <hr />
        <a class="github-button" href="https://github.com/shian48263" data-style="mega" data-count-href="/shian48263/followers" data-count-api="/users/shian48263#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @shian48263 on GitHub" new-tab>Follow @shian48263</a>
        <a class="github-button" href="https://github.com/shian48263/shian48263.github.io" data-icon="octicon-eye" data-style="mega" data-count-href="/shian48263/shian48263.github.io/watchers" data-count-api="/repos/shian48263/shian48263.github.io#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch shian48263/shian48263.github.io on GitHub" new-tab>Watch</a>
        <a class="github-button" href="https://github.com/shian48263/shian48263.github.io" data-icon="octicon-star" data-style="mega" data-count-href="/shian48263/shian48263.github.io/stargazers" data-count-api="/repos/shian48263/shian48263.github.io#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star shian48263/shian48263.github.io on GitHub" new-tab>Star</a>
        <a class="github-button" href="https://github.com/shian48263/shian48263.github.io/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/shian48263/shian48263.github.io/network" data-count-api="/repos/shian48263/shian48263.github.io#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork shian48263/shian48263.github.io on GitHub" new-tab>Fork</a>
        <a class="github-button" href="https://github.com/shian48263/shian48263.github.io/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/shian48263/shian48263.github.io#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue shian48263/shian48263.github.io on GitHub" new-tab>Issue</a>
        <a class="github-button" href="https://github.com/shian48263/shian48263.github.io/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download shian48263/shian48263.github.io on GitHub" new-tab>Download</a>
        <p>{{licensePre}}<a class="mit" ng-click="href('mit')">MIT</a>{{licensePost}}</p>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  <![endif]-->
  <!-- Vendors -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/fullpage.js/jquery.fullPage.min.js"></script>
  <!-- endbower -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <!-- Modules -->
  <script src="js/app.js"></script>
  <!-- Controllers -->
  <script src="js/controllers/MainController.js"></script>
  <!-- jQuery -->
  <script src="js/main.js"></script>
</body>

</html>
